<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Codilar\HelloWorld\Model\Message">
        <plugin name="codilar_helloworld_message_plugin" type="Codilar\HelloWorld\Plugin\MessagePlugin"/>
    </type>
    <preference for="Codilar\HelloWorld\Api\EmployeeRepositoryInterface" type="Codilar\HelloWorld\Model\EmployeeRepository"/>
</config>
