<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="codilar_freeshipping" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Free Shipping</label>
            <tab>general</tab>
            <resource>Codilar_FreeShipping::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="threshold" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Shipping Threshold</label>
                    <comment>
                        Minimum order amount required for free shipping.
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
